@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700)

%default-font
  font:
    weight: normal
    size: 0.75em
    family: 'Open Sans', sans-serif

%huge-font
  font:
    weight: bold
    size: 1.25em
    family: 'Open Sans', sans-serif

%large-font
  font:
    weight: normal
    size: 0.875em
    family: 'Open Sans', sans-serif

%middle-font
  font:
    weight: normal
    size: 0.8125em
    family: 'Open Sans', sans-serif
